body
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 10px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
h1
{
	font-size: 20px;
}
th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #bd1f2f;
	border-top: 4px solid #f1c5c9;
	border-bottom: 1px solid #fff;
	color: #fff;
}
td
{
	padding: 8px;
	background: #d2d2d2;
	border-bottom: 1px solid #fff;
	color: #000;
	border-top: 1px solid transparent;
}
tfoot
{
	font-weight: bold;
	padding: 8px;
	background: #d2d2d2;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #000;
}
tr:hover td
{
	background: #6d6e70;
	color: #fff;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #bd1f2f;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    font-size: 18px;
    width: 500px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
    padding: 18px;
    color: #444;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

a.showplot {
    padding: 18px;
    font-size: 18px;
}

a {
	padding: 18px 0;
	font-size: 18px;
}
